*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d0f6ff;
}
.titulo{
    position: absolute;
    top: 3vi;
    left: 4vi;
    font-size: 2.5vi;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.todos{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 15vi;
    left: 9vi;
    font-size: 1.5vi;
}
.todos:hover{
    border: 1px solid rgb(54, 94, 40);
    width: 22vi;
    border-radius: 0.5vi 0vi 0vi 0.5vi;
}
.abrigo{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 19vi;
    left: 9vi;
    font-size: 1.5vi;
}
.abrigo:hover{
    border: 1px solid rgb(54, 94, 40);
    width: 22vi;
    border-radius: 0.5vi 0vi 0vi 0.5vi;
}
.camisas{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 23vi;
    left: 9vi;
    font-size: 1.5vi;
}
.camisas:hover{
    border: 1px solid rgb(54, 94, 40);
    width: 22vi;
    border-radius: 0.5vi 0vi 0vi 0.5vi;
}

.pantalones{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 28vi;
    left: 9vi;
    font-size: 1.5vi;
    border: 1px solid rgb(54, 94, 40);
    width: 22vi;
    border-radius: 0.5vi 0vi 0vi 0.5vi;
}

.carrito{
    position: absolute;
    text-decoration: none;
    color: black;
    top: 38vi;
    left: 9vi;
    font-size: 1.5vi;
}
.carrito:hover{
    border: 1px solid rgb(54, 94, 40);
    width: 22vi;
    border-radius: 0.5vi 0vi 0vi 0.5vi;
}
.numero3{
    position: absolute;
    font-size: 1vi;
    border: 1px solid rgb(54, 94, 40); 
    top: 38vi;
    left: 16vi;
    width: 1vi;
    text-align: center;
    height: 1.7vi;
    line-height: 1.6vi;
    border-radius: 0.3vi;
 }
 .margen{
    position: absolute;
    background-color: white;
    width: 65vi;
    height: 50vi;
    top: 3.5vi;
    left: 30vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .Todos{
    position: absolute;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2vi;
    top: 2vi;
    left: 2vi;
 }
 .Aid1{
    position: absolute;
    width: 13vi;
    top: 6vi;
    left: 2vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .dentro{
    position: absolute;
    width: 13vi;
    height: 5vi;
    border: 1px solid rgb(54, 94, 40);
    border-radius: 1vi;
    background-color: white;
    top: 20vi;
    left: 2vi;
 }
 .numero{
    position: absolute;
    font-size: 0.8vi;
    top: 0.3vi;
    text-align: center;
 }
 .valor{
    position: absolute;
    font-size: 1vi;
    left: 0.8vi;
    top: 2.8vi;
 }
 .boton{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    top: 2.8vi;
    left: 7vi;
    width: 5vi;
    height: 1.3vi;
    border-radius: 0.3vi;
 }
 .Aid2{
    position: absolute;
    width: 13vi;
    top: 6vi;
    left: 17vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .dentro1{
    position: absolute;
    width: 13vi;
    height: 5vi;
    border: 1px solid rgb(54, 94, 40);
    border-radius: 1vi;
    background-color: white;
    top: 20vi;
    left: 17vi;
 }
 .numero{
    position: absolute;
    font-size: 0.8vi;
    top: 0.3vi;
    text-align: center;
 }
 .valor{
    position: absolute;
    font-size: 1vi;
    left: 0.8vi;
    top: 2.8vi;
 }
 .boton{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    top: 2.8vi;
    left: 7vi;
    width: 5vi;
    height: 1.3vi;
    border-radius: 0.3vi;
 }
 .Cid1{
    position: absolute;
    width: 13vi;
    top: 6vi;
    left: 32vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .dentro2{
    position: absolute;
    width: 13vi;
    height: 5vi;
    border: 1px solid rgb(54, 94, 40);
    border-radius: 1vi;
    background-color: white;
    top: 20vi;
    left: 32vi;
 }
 .numero{
    position: absolute;
    font-size: 0.8vi;
    top: 0.3vi;
    text-align: center;
 }
 .valor{
    position: absolute;
    font-size: 1vi;
    left: 0.8vi;
    top: 2.8vi;
 }
 .boton{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    top: 2.8vi;
    left: 7vi;
    width: 5vi;
    height: 1.3vi;
    border-radius: 0.3vi;
 }
 .Cid2{
    position: absolute;
    width: 13vi;
    height: 17vi;
    top: 6vi;
    left: 47vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .dentro3{
    position: absolute;
    width: 13vi;
    height: 5vi;
    border: 1px solid rgb(54, 94, 40);
    border-radius: 1vi;
    background-color: white;
    top: 20vi;
    left: 47vi;
 }
 .numero{
    position: absolute;
    font-size: 0.8vi;
    top: 0.3vi;
    left: 1vi;
    text-align: center;
 }
 .valor{
    position: absolute;
    font-size: 1vi;
    left: 0.8vi;
    top: 2.8vi;
 }
 .boton{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    top: 2.8vi;
    left: 7vi;
    width: 5vi;
    height: 1.3vi;
    border-radius: 0.3vi;
 }
 .Pid1{
    position: absolute;
    width: 13vi;
    top: 27vi;
    left: 2vi;
    border-radius: 2vi;
    border: 1px solid rgb(54, 94, 40); 
 }
 .dentro4{
    position: absolute;
    width: 13vi;
    height: 5vi;
    border: 1px solid rgb(54, 94, 40);
    border-radius: 1vi;
    background-color: white;
    top: 40vi;
    left: 2vi;
 }
 .numero{
    position: absolute;
    font-size: 0.8vi;
    top: 0.3vi;
    text-align: center;
 }
 .valor{
    position: absolute;
    font-size: 1vi;
    left: 0.8vi;
    top: 2.8vi;
 }
 .boton{
    position: absolute;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: green;
    top: 2.8vi;
    left: 7vi;
    width: 5vi;
    height: 1.3vi;
    border-radius: 0.3vi;
 }
 
 .barra{
    position: absolute;
    top: 0vi;
    left: 61.1vi;
    width: 4vi;
    height: 50vi;
    border-radius: 0.5vi 1.2vi 1.2vi 0vi;
 }